<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>E-commerceShop</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>by.epam.shop.controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cart-page</servlet-name>
		<jsp-file>/pages/cart.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>cart-page</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>signin-page</servlet-name>
		<jsp-file>/pages/signIn.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>signin-page</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>signup-page</servlet-name>
		<jsp-file>/pages/signUp.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>signup-page</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>profile-page</servlet-name>
		<jsp-file>/pages/profile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>profile-page</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>order-page</servlet-name>
		<jsp-file>/pages/order.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>order-page</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>by.epam.shop.filters.CharsetFilter</filter-class>
		<init-param>
			<param-name>charsetEncoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/Controller</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>by.epam.shop.filters.NoCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>/Controller</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CartFilter</filter-name>
		<filter-class>by.epam.shop.filters.CartFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CartFilter</filter-name>
		<url-pattern>/Controller</url-pattern>
	</filter-mapping>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
</web-app>